.listHexa {
  display: flex;
  justify-content: start;
  padding: 7px 5px;
  align-items: center;
  gap: 5px;
  background-color: #3f5f7b;
}

.liHexa {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: start;
}