.aritmeticSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

@media (min-width: 751px) {
  .aritmeticSection {
    grid-area: Aritmetic;
  }
}