.output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  padding: 2px 5px;
}

.flags {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.output hr {
  width: 100%; /* La línea se ajustará automáticamente al 100% del contenedor */
  border: 0;
  border-top: 1px solid #fafafa; /* Ajusta el color y el grosor de la línea según sea necesario */
  margin: 10px 0;
}