.output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  padding: 2px 5px;
}

.flags {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}