@media (min-width: 751px) {
  main {
    display: grid;
    grid-template-areas:
      'Binaries Decimals'
      'BCD BCH'
      'Aritmetic LogicalGates';
    justify-content: space-between;
    align-items: start;
    row-gap: 25px;
    padding: 25px 35px;
  }
}

main {
  background-color: #1C3041;
}

@media (max-width: 750px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 25px 10px;
  }
}