.listBCD {
  display: flex;
  justify-content: start;
  padding: 5px;
  align-items: center;
  gap: 5px;
  background-color: #3f5f7b;
}

.liBCD {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: start;
}