.sectionDecimals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 45px;
}

@media (min-width: 750px) {
  .sectionDecimals {
    grid-area: Decimals;
  }
}